//=================================================================================================
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img{display: none;}
}
//=================================================================================================
.slick-slider{position: relative;
	.slick-track,.slick-list {}
	.slick-list {overflow: hidden;}
	.slick-track {@extend %flexbox; align-items: flex-start;}
	.slick-slide {}
	.slick-dots {
		@extend %flexbox;
		justify-content: center;
		align-items: center;
		padding: 100px 0px 0px 0px;
		li {margin: 0px 5px;
			button {
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				border: 1px solid #c8c8c8;
				background-color: transparent;
			}
			&.slick-active {
				button{
					background-color: #a9afb3;
				}
			}
		}
		@media (max-width: 1100px) {
			padding: 30px 0px 0px 0px;
		}
	}
}
//=================================================================================================