
//////////////////////////////////////////////////////////////////////
//							Импорты									//
//////////////////////////////////////////////////////////////////////
// Кастомный файл обнуляющих стилей
@import "nullstyle";

//////////////////////////////////////////////////////////////////////
//							Переменные								//
//////////////////////////////////////////////////////////////////////
// Цвета
// Размер Экрана
$maxPageWidth: 1280px;
$contentPageWidth: 1180px;


//////////////////////////////////////////////////////////////////////
//								Функции								//
//////////////////////////////////////////////////////////////////////
// Возвращает процентное соотношение пиксельной ширины блока к общему размеру страницы
@function getPctWidth($widthPx: $contentPageWidth, $fromWidthPx: $contentPageWidth) {	// if you didn't set params, it return 100%
@return $widthPx / $fromWidthPx * 100%;
}

//////////////////////////////////////////////////////////////////////
//								Шаблоны								//
//////////////////////////////////////////////////////////////////////
%flex-row-props {
	display: flex;
}

%img-standart-props {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//////////////////////////////////////////////////////////////////////
//								Миксины								//
//////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////
//								SCSS								//
//////////////////////////////////////////////////////////////////////

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper{
	max-width: $maxPageWidth;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.content {
	flex: 1 1 auto;
}

.container {
	max-width: $contentPageWidth;
	margin: 0 auto;
}
